{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div id="sylius-product-selecting-variant">
    {{ sonata_block_render_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'data-js-add-to-cart': 'form', 'class': 'loadable', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary')) }}) }}
    {{ form_errors(form) }}
    <div class="alert alert-danger d-none" data-js-add-to-cart="error" id="sylius-cart-validation-error" {{ sylius_test_html_attribute('cart-validation-error') }}></div>
    {% if not product.simple %}
        {% if product.options %}
            {% include '@SyliusShop/Product/Show/_options.html.twig' %}
        {% else %}
            {% include '@SyliusShop/Product/Show/_variants.html.twig' %}
        {% endif %}
    {% endif %}

    {{ sonata_block_render_event('sylius.shop.product.show.add_to_cart_form', {
        'product': product,
        'order_item': order_item
    }) }}

    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary" {{ sylius_test_html_attribute('add-to-cart-button') }}>
                    <span class="btn-icon">{{ icons.cart() }}</span>
                    {{ 'sylius.ui.add_to_cart'|trans }}
                </button>
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
