{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="row comparer">
    <div class="col comparerBox"></div>
    {% for product in products %}
        <div class="col comparerBox mb-3 d-flex flex-column">
            {{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

            <div id="{{ product }}" class="card mb-3 h-100 {{ product.id }}">
                <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="position-relative">
                    {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img'} %}
                    <div class="card-img-overlay">
                        <button class="btn btn-outline-secondary">{{ 'sylius.ui.view_more'|trans }}</button>
                    </div>
                </a>
                <div class="card-body">
                    <h5>
                        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="text-decoration-none sylius-product-name">{{ product.name }}</a>
                    </h5>
                    {% if not product.variants.empty() %}
                        <div class="sylius-product-price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
                    {% endif %}
                </div>
            </div>

            {% include '@LocasticSyliusComparerPlugin/_removeFromComparer.html.twig' %}
            {% include '@LocasticSyliusComparerPlugin/_comparerInventory.html.twig' %}
        </div>
    {% endfor %}
</div>
